@font-face {
    font-family: "Futura.ttc";
    src:url('../fonts/Futura.ttc');
  }
@font-face {
    font-family: "irohakakuC-Medium.ttf";
    src:url('../fonts/irohakakuC-Medium.ttf');
  }

:root{
    --bk:#FFD6DE;
    --main-color:#FFA59C;
    --sub-color:#B0E7E7;
}

h1{
    margin: 0;
}

body{
    background-color:var(--bk);
    position: relative;
    margin:0 auto; /* 画面の余白をなくす */
    width:100vw; /* 画面サイズが100%*/
    height:100vh;
}

.topBar{
    /* margin-top:0 auto; */
    display:flex;
    width:100%;
    height:60px;
    background:var(--sub-color);
    position: fixed;
    z-index: 999;
}

.name{
    font-size: 37px;
    font-family: 'Futura.ttc' ;
}

.nav1{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.subBar_inner{
    display:flex;
    margin:0px;
    padding: 0;
    right:10%;
}

.subBar_inner li{
    font-family: 'Futura.ttc' ;
    list-style:none;
    float:left;
    font-size:25px; 
}

.subBar_item{
    margin: 0 100px;
    font-size: 21px;
}


.space{
    height: 120px;
}

#page_up{
    position: fixed;
    width:65px;
    height:65px;
    right: 210px;
    bottom: 50px;
}

.main_box{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    border: #B0E7E7 5px solid;
}

.main_works{
    display: inline-block;
    font-family: 'Futura.ttc' ;
    font-size: 80px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: #FFA59C 5px solid;
}

.work_contents{
    display: flex;
    align-items: center;
    width: 80%;
    height:750px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 30px;
}

.work_contents ul{
    padding: 0;
    list-style:none;
    font-family: 'Futura.ttc' ;
}

.work_contents li{
    margin-bottom: 20px;
}

.border_box{
    height: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: #B0E7E7 5px solid;
}

.work_box{
    height: 1340px;
    font-family: 'Futura.ttc' ;
}

.work_box img{
    width: 342px;
    height: 256px;
}

.graphic_box{
    width:80%;
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
    transition: 2s ease;
}

.graphic1_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphic2_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editorial_box{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: 2s ease;
}

.editorial1_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border_box2{
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
    border-top: #B0E7E7 5px solid;
}
