@font-face {
    font-family: "Futura.ttc";
    src:url('../fonts/Futura.ttc');
  }
@font-face {
    font-family: "irohakakuC-Medium.ttf";
    src:url('../fonts/irohakakuC-Medium.ttf');
  }

:root{
    --bk:#FFD6DE;
    --main-color:#FFA59C;
    --sub-color:#B0E7E7;
    --circle:#5c5151;
    --ai-color:#ffab09;
    --ps-color:#88cfff;
    --html-color:#97fcbe;
}

body{
    background-color:var(--bk);
    position: relative;
    margin:0 auto; 
    width:100vw; 
    z-index: -999;
}

.topBar{
    /* margin-top:0 auto; */
    display:flex;
    width:100%;
    height:60px;
    background:var(--sub-color);
    position: fixed;
    z-index: 999;
}

.name{
    position: relative;
    font-size: 37px;
    font-family: "Futura.ttc";
    color: black;
}

.name:visited { color: black; }

.name:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 3px;
	background: black;
	transform: scale(0, 1);
	transform-origin: left;
	transition: 0.4s;
}

.name:hover:before {
	transform: scale(1);
}

.nav1{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.subBar_inner{
    display:flex;
    margin:0px;
    padding: 0;
    right:10%;
    list-style:none;
    font-size:25px; 
    font-family: "Futura.ttc";
}

.subBar_item{
    margin: 0 100px;
    position: relative;
    color: white;
}

a{
    text-decoration:none;
}

.subBar_item a:visited { color: black; } 

.subBar_item a:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 3px;
	background: black;
	transform: scale(0, 1);
	transform-origin: left;
	transition: 0.4s;
}

.subBar_item a:hover:before {
	transform: scale(1);
}

.space{
    height: 120px;
}

#page_up{
    position: fixed;
    width:65px;
    height:65px;
    right: 210px;
    bottom: 50px;
}

.main_box{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.8);
    border: #B0E7E7 5px solid;
    z-index: -100;
}

.main_about{
    display: inline-block;
    font-family: 'Futura.ttc';
    font-size: 80px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: #FFA59C 5px solid;
    z-index: 300;
}

.sub_box{
    position: relative;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 800px;
    z-index: 300;
}

.main_photo{
    position: absolute;
    width: 30vw;
    height: 30vw;
    top:0px;
    left: 0px;
}

.main_text{
    position: absolute;
    width:460px;
    height:699px;
    right:0px;
    bottom: 0px;
    background-color: #FFA59C;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 60px 15px;
    box-sizing: border-box;
    text-align: justify;
    font-family: "irohakakuC-Medium.ttf";
}

.sub_text h1{
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:auto;
    margin-right:auto;
}

.sub_text p{
    justify-content: center;
    margin:auto;
    width:273px;
    line-height: 30px;
}

.sub_photo{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding-top:300px;
    padding-bottom: 300px;
    display:flex;
    justify-content: space-around;
    border-bottom: #B0E7E7 5px solid;
    z-index: 300;
}

.sub_photo_item{
    width:207px;
    height:207px;
}

.popup {
    background-color: #fff;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 70vw;
    height: 100vh;
    overflow-y: scroll;
    z-index: 500;
  }
  /* チェックボックスの初期設定 */
  #popup-on{
    display: none;
  }
  /* チェックされたらポップアップウインドウを開く */
  #popup-on:checked + .popup{
    display: block;
  }

  .btn-open{
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin: 10px auto;
    width: 95%;
  }
  
  /* ポップアップの内容 */
.popup-content1{
    position: relative;
    left:23%;
}

.layer-img1{
    position: absolute;
    height: 90vh;
    z-index: 500;
  }

.popup-content2{
    position: relative;
    left:23%;
}

.layer-img2{
    position: absolute;
    height: 90vh;
    z-index: 500;
}

.popup-content3{
    position: relative;
    left:23%;
}

.layer-img3{
    position: absolute;
    height: 90vh;
    z-index: 500;
}

/* 閉じるボタン */
.btn-close{
    position: absolute;
    background: #000;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    margin: auto;
    width: 95%;
    bottom: 10px;
    text-align: center;
    z-index: 500;
}

.skill_box h3{
    font-family: 'Futura.ttc';
    font-size: 40px;
    height: 40px;
}

.skill_box{
    position: relative;
    width:80%;
    height:550px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: #B0E7E7 5px solid;
    z-index: 300;
}

.skill_item{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:510px;
    top: 40px;
}

.ai_circle{
    position: relative;
    width: 165px;/*幅*/
	height: 165px;/*高さ*/
    border-radius: 50%;/*角丸*/
    background-color: var(--circle);
}

.ai_circle p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: auto;
    font-size: 63px;
    color: var(--ai-color);
    font-family: 'Futura.ttc';
}

.ps_circle{
    position: relative;
    width: 165px;/*幅*/
	height: 165px;/*高さ*/
    border-radius: 50%;/*角丸*/
    background-color: var(--circle);
}

.ps_circle p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: auto;
    font-size: 63px;
    color: var(--ps-color);
    font-family: 'Futura.ttc';
    margin:0;
}

.html_circle{
    position: relative;
    width: 165px;/*幅*/
	height: 165px;/*高さ*/
    border-radius: 50%;/*角丸*/
    background-color: var(--circle);
}

.html_circle p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: auto;
    font-size: 34px;
    text-align: center;
    color: var(--html-color);
    font-family: 'Futura.ttc';
    margin:0;
}

.profile_box{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #B0E7E7 5px solid;
    z-index: 300;
}

.profile_box h3{
    font-family: 'Futura.ttc';
    font-size: 40px;
    height: 40px;
}

.profile_main{
    position: relative;
    width:80%;
    height:310px;
    padding:0;
    margin-left: auto;
    margin-right: auto;
    font-family: "irohakakuC-Medium.ttf";
}

.profile_box1{
    position: absolute;
    padding:0;
    margin-left: 50px;
    margin-right: 50px;
    left: 0;
    top: 0;
}

.profile_box1 li{
    list-style:none;
    font-size:18px; 
}

.profile_box2{
    position: absolute;
    padding:0;
    right: 0;
    bottom: 150px;
}

.profile_box2 li{
    list-style:none;
    font-size:18px;
}

.space2{
    height: 120px;
}

.wave1:before,
.wave1:after{
    content: '';
    position: fixed;
    width: 140%;
    height: 250%;
    transform: translate(-20%,15%);
    background: #ffc487;
    z-index: -200;
}

.wave1:before{
    background: #ffc487;
    animation: rotation 5s linear infinite;
    border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}
.wave1:after{
    background: #ffc487;
    opacity: 0.5;
    animation: rotation 5s linear infinite;
    border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

@keyframes rotation{
    0%{
        transform: translate(-20%,15%) rotate(0deg);
    }
    100%{
        transform: translate(-20%,15%) rotate(180deg);
    }
}
